.w3-theme-l5 {color:#000 !important; background-color:#eaffea !important}
.w3-theme-l4 {color:#000 !important; background-color:#b8ffb8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#70ff70 !important}
.w3-theme-l2 {color:#000 !important; background-color:#29ff29 !important}
.w3-theme-l1 {color:#fff !important; background-color:#00e000 !important}
.w3-theme-d1 {color:#fff !important; background-color:#008a00 !important}
.w3-theme-d2 {color:#fff !important; background-color:#007a00 !important}
.w3-theme-d3 {color:#fff !important; background-color:#006b00 !important}
.w3-theme-d4 {color:#fff !important; background-color:#005c00 !important}
.w3-theme-d5 {color:#fff !important; background-color:#004d00 !important}

.w3-theme-light {color:#000 !important; background-color:#eaffea !important}
.w3-theme-dark {color:#fff !important; background-color:#004d00 !important}
.w3-theme-action {color:#fff !important; background-color:#004d00 !important}

.w3-theme {color:#fff !important; background-color:#009900 !important}
.w3-text-theme {color:#009900 !important}
.w3-border-theme {border-color:#009900 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#009900 !important}
.w3-hover-text-theme:hover {color:#009900 !important}
.w3-hover-border-theme:hover {border-color:#009900 !important}
