$ppa-w3-screen-width-small: 601px;
$ppa-w3-screen-width-medium: 993px;
$ppa-w3-screen-width-large: 1205px;

.ppa-field-icon {
    width: 50px;
    padding: 0px;
}

.ppa-btnlike-padding-top {
    padding-top: 8px;
}

.ppa-w3-padding-8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important
}



$ppa-border-padding: 16px;

.ppa-main-container {
    padding-bottom: $ppa-border-padding;
    height: 100vh;
}

.ppa-view-container {
    height: 100%;
    overflow: auto;
}

$ppa-view-header-height: 38px;

.ppa-view-header {
    /* Intentionally blank... by now */
    overflow: hidden;
}

$ppa-view-body-border: 1px;

.ppa-view-body {
    height: calc(100% -  #{$ppa-view-header-height});
    overflow: auto;
}


@function ppa-waste-height-level($level) {
    $main-waste: $ppa-view-header-height + $ppa-border-padding;
    $one-level-waste: 2 * ($ppa-border-padding + $ppa-view-body-border) + $ppa-view-header-height;
    $level-waste: $main-waste + ($level - 1) * $one-level-waste;
    @return $level-waste;
}

@function ppa-search-master-waste-width-level($level) {
    $main-waste: 2 * $ppa-border-padding;
    $one-level-waste: 2 * ($ppa-border-padding + $ppa-view-body-border);
    $level-waste: $main-waste + ($level - 1) * $one-level-waste;
    @return $level-waste;
}

$ppa-search-tiny-width: 36px;

@mixin ppa-search-common {
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

@mixin ppa-search-tiny-common($level) {
    @include ppa-search-common;
    width: $ppa-search-tiny-width;
    height: calc(100% - #{ppa-waste-height-level($level)});
}

.ppa-search-tiny-level1 {
    @include ppa-search-tiny-common(1);
}

.ppa-search-tiny-level2 {
    @include ppa-search-tiny-common(2);
}

.ppa-search-tiny-icon {
    padding: 8px 0px 16px 0px;
}

@mixin ppa-search-master-common($level) {
    @include ppa-search-common;
    padding-bottom: $ppa-border-padding;
    height: calc(100% - #{ppa-waste-height-level($level)});
    width: calc(100% - #{ppa-search-master-waste-width-level($level)});
}
.ppa-search-master-level1 {
    @include ppa-search-master-common(1);
}
.ppa-search-master-level2 {
    @include ppa-search-master-common(2);
}

@mixin ppa-search-detail-common {
    height: 100%;
    padding-bottom: $ppa-border-padding;
}

.ppa-search-detail-level1 {
    @include ppa-search-detail-common();
    margin-left: $ppa-search-tiny-width !important;
}
.ppa-search-detail-level2 {
    @include ppa-search-detail-common();
    margin-left: $ppa-search-tiny-width !important;
}

@media (min-width:$ppa-w3-screen-width-small){

$ppa-search-master-width-small: 60%;

.ppa-search-master-level1 {
    width: $ppa-search-master-width-small;
}
.ppa-search-master-level2 {
    width: $ppa-search-master-width-small;
}

}

@media (min-width:$ppa-w3-screen-width-medium){

$ppa-search-master-width-medium: 33%;

.ppa-search-master-level1 {
    width: $ppa-search-master-width-medium;
    display:block !important
}
.ppa-search-master-level2 {
    width: $ppa-search-master-width-medium;
    display:block !important
}

.ppa-search-detail-level1 {
    margin-left: calc(#{$ppa-search-master-width-medium} + #{$ppa-border-padding}) !important;
}
.ppa-search-detail-level2 {
    margin-left: calc(#{$ppa-search-master-width-medium} + #{$ppa-border-padding}) !important;
}

}

@media (min-width:$ppa-w3-screen-width-large){

$ppa-search-master-width-large: 25%;

.ppa-search-master-level1 {
    width: $ppa-search-master-width-large;
    display:block !important
}
.ppa-search-master-level2 {
    width: $ppa-search-master-width-large;
    display:block !important
}

.ppa-search-detail-level1 {
    margin-left: calc(#{$ppa-search-master-width-large} + #{$ppa-border-padding}) !important;
}
.ppa-search-detail-level2 {
    margin-left: calc(#{$ppa-search-master-width-large} + #{$ppa-border-padding}) !important;
}

}



$ppa-search-master-header-height: 52px;

.ppa-search-master-header {
    /* Intentionally blank... by now */
    overflow: hidden;
}

.ppa-search-master-body {
    height: calc(100% - #{$ppa-search-master-header-height});
    overflow: auto;
}

$ppa-search-detail-header-height: 52px;

.ppa-search-detail-header {
    /* Intentionally blank... by now */
    overflow: hidden;
}

.ppa-search-detail-body {
    height: calc(100% - #{$ppa-search-detail-header-height});
    overflow: auto;
}
