<template>
  <div class="w3-main w3-container w3-theme-l4 ppa-search-detail-level1">
    <div
      class="w3-container w3-center w3-section w3-theme-l5"
      v-if="todo === undefined"
    >
      <p class="w3-text-theme">
        <font-awesome-icon :icon="['fas', 'sync']" aria-label="Sync" />
      </p>
    </div>
    <span v-else>
      <div class="w3-bar ppa-search-detail-header">
        <button
          class="
            w3-left w3-bar-item w3-button w3-ripple w3-xlarge w3-text-theme
          "
          v-on:click="save"
          v-bind:disabled="isSaving || isDeleting"
          aria-label="Save"
        >
          <font-awesome-icon :icon="['fas', 'save']" />
        </button>
        <button
          class="
            w3-left w3-bar-item w3-button w3-ripple w3-xlarge w3-text-theme
          "
          v-on:click="deletee"
          v-bind:disabled="isSaving || isDeleting"
          aria-label="Delete"
        >
          <font-awesome-icon :icon="['fas', 'trash']" />
        </button>
      </div>
      <div class="ppa-search-detail-body">
        <input
          class="w3-input w3-theme-l5"
          name="title"
          type="text"
          size="40"
          v-model="todo.title"
        />
        <input class="w3-check w3-text-theme" type="checkbox" v-model="todo.done" />
        <label class="w3-padding">Done</label>
      </div>
    </span>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faSave, faSync } from '@fortawesome/free-solid-svg-icons';
import todosService from '@/services/todos.service';

library.add(faSave, faSync);

const UPDATED_EVENT = 'updated';
const SHOWN_EVENT = 'shown';

export default {
  data() {
    return {
      todo: undefined,
      isSaving: false,
      isDeleting: false,
    };
  },
  async mounted() {
    this.id = this.$route.params.id;
    await this.get(this.id);
    this.$emit(SHOWN_EVENT, this.id);
  },
  methods: {
    async get(id) {
      this.todo = await todosService.getTodo(id);
    },
    async save() {
      this.isSaving = true;
      try {
        await todosService.updateTodo(this.todo);
        this.$emit(UPDATED_EVENT);
      } finally {
        this.isSaving = false;
      }
    },
    async deletee() {
      this.isDeleting = true;
      try {
        await todosService.deleteTodo(this.todo.id);
        this.$router.push({ name: 'TodoNone' });
        this.$emit(UPDATED_EVENT);
      } finally {
        this.isDeleting = false;
      }
    },
  },
};
</script>
