<template>
  <div class="ppa-view-container">
    <div class="w3-hide-large ppa-search-tiny-level1">
      <div class="w3-row w3-section">
        <button
          class="
            w3-col w3-button w3-ripple w3-right w3-xlarge w3-text-theme
            ppa-search-tiny-icon
          "
          v-on:click="toggleShowSmallSearchPanel"
          aria-label="Search"
        >
          <font-awesome-icon :icon="['fas', 'search']" />
        </button>
        <button
          class="
            w3-col w3-button w3-ripple w3-right w3-xlarge w3-text-theme
            ppa-search-tiny-icon
          "
          v-on:click="add"
          v-bind:disabled="isAdding"
          aria-label="Add"
        >
          <font-awesome-icon :icon="['fas', 'plus']" />
        </button>
      </div>
    </div>

    <div
      class="w3-container ppa-search-master-level1"
      v-show="showSmallSearchPanel"
    >
      <div class="w3-row ppa-search-master-header">
        <button
          class="w3-button w3-ripple w3-left w3-xlarge w3-text-theme"
          v-bind:disabled="isFinding"
          v-if="!isFinding"
          v-on:click="find"
        >
          <font-awesome-icon :icon="['fas', 'search']" aria-label="Search" />
        </button>
        <button
          class="w3-button w3-ripple w3-left w3-xlarge w3-text-theme"
          v-bind:disabled="isFinding"
          v-if="isFinding"
        >
          <font-awesome-icon :icon="['fas', 'sync']" aria-label="Searching" />
        </button>
        <button
          class="
            w3-button w3-ripple w3-right w3-xlarge w3-text-theme w3-hide-large
          "
          v-on:click="toggleShowSmallSearchPanel"
          aria-label="Close"
        >
          <font-awesome-icon :icon="['fas', 'angle-left']" />
        </button>
        <button
          class="w3-button w3-ripple w3-right w3-xlarge w3-text-theme"
          v-on:click="add"
          v-bind:disabled="isAdding"
        >
          <font-awesome-icon :icon="['fas', 'plus']" aria-label="Add" />
        </button>
        <button
          class="w3-button w3-ripple w3-right w3-xlarge w3-text-theme"
          v-on:click="toggleDoneFilter"
        >
          <font-awesome-icon
            v-if="doneFilter === undefined"
            :icon="['fas', 'tasks']"
            aria-label="All"
          />
          <font-awesome-icon
            v-if="doneFilter === true"
            :icon="['fas', 'check']"
            aria-label="All"
          />
          <font-awesome-icon
            v-if="doneFilter === false"
            :icon="['fas', 'circle']"
            aria-label="All"
          />
        </button>
        <div class="w3-rest ppa-btnlike-padding-top">
          <input
            class="w3-input w3-theme-l5"
            type="text"
            v-bind:placeholder="filter"
            v-model="filter"
            v-on:keyup="find"
          />
        </div>
      </div>
      <div id="notes-search-results" class="ppa-search-master-body">
        <ul class="w3-ul w3-border w3-theme w3-card">
          <li v-for="todo in todos" :key="todo.id">
            <router-link
              v-bind:to="'' + todo.id"
              class="w3-button w3-ripple w3-block w3-left-align"
              v-bind:class="{
                'w3-theme-d5': todo.id === selectedTodoId,
                'ppa-todos-done': todo.done,
              }"
              >{{ todo.title }}</router-link
            >
          </li>
        </ul>
      </div>
    </div>
    <router-view
      v-on:updated="find"
      v-on:shown="selectTodo"
      :key="$route.fullPath"
    />
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import {
  faSearch,
  faPlus,
  faSync,
  faAngleLeft,
  faSave,
  faTrash,
  faTasks,
  faCheck,
  faCircle,
} from '@fortawesome/free-solid-svg-icons';
import todosService from '@/services/todos.service';

library.add(faSearch, faPlus, faSync, faAngleLeft, faSave, faTrash, faTasks, faCheck, faCircle);

export default {
  data() {
    return {
      filter: '',
      doneFilter: undefined,
      todos: [],
      selectedTodoId: undefined,
      showSmallSearchPanel: false,
      isFinding: false,
      isAdding: false,
    };
  },
  async mounted() {
    await this.find();
  },
  methods: {
    toggleShowSmallSearchPanel() {
      this.showSmallSearchPanel = !this.showSmallSearchPanel;
    },
    async find() {
      this.isFinding = true;
      try {
        this.todos = await todosService.findTodos(this.filter, this.doneFilter);
      } finally {
        this.isFinding = false;
      }
    },
    async add() {
      this.isAdding = true;
      try {
        const todoId = await todosService.createTodo();
        await this.find();
        this.$router.push({ name: 'TodoDetails', params: { id: todoId } });
      } finally {
        this.isAdding = false;
      }
    },
    selectTodo(id) {
      this.selectedTodoId = id;
      this.showSmallSearchPanel = false;
    },
    async toggleDoneFilter() {
      if (this.doneFilter === undefined) {
        this.doneFilter = false;
      } else if (this.doneFilter === false) {
        this.doneFilter = true;
      } else {
        this.doneFilter = undefined;
      }
      await this.find();
    },
  },
};
</script>

<style lang="scss">
.ppa-todos-done {
  text-decoration: line-through;
}
</style>
