<template>
  <div class="ppa-view-container">
    <h1>
      <font-awesome-icon :icon="['fas', 'copyright']" />Javier Sedano 2021,
      <font-awesome-icon :icon="['fab', 'creative-commons']" />
      <font-awesome-icon :icon="['fab', 'creative-commons-by']" />
      <font-awesome-icon :icon="['fab', 'creative-commons-sa']" />
    </h1>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faCopyright } from '@fortawesome/free-solid-svg-icons';
import {
  faCreativeCommons,
  faCreativeCommonsBy,
  faCreativeCommonsSa,
} from '@fortawesome/free-brands-svg-icons';

library.add(faCopyright, faCreativeCommons, faCreativeCommonsBy, faCreativeCommonsSa);

export default {
  data() {
    return {};
  },
};
</script>
