<template>
  <div class="w3-main w3-container w3-theme-l4 ppa-search-detail-level2">
    <div class="w3-container w3-section w3-theme-l5">
      <p class="w3-text-theme">
        Choose an item from the list or create a new one
      </p>
    </div>
  </div>
</template>

<script>
const SHOWN_EVENT = 'shown';

export default {
  data() {
    return {};
  },
  async mounted() {
    this.$emit(SHOWN_EVENT, undefined);
  },
};
</script>
