<template>
  <span>
    <h2>Not found</h2>
    <p>
      Ups! Page not found. Maybe you are using an old link. If you are sure your
      link is correct, please report a bug.
    </p>
  </span>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>
