<template>
  <div class="w3-container ppa-main-container">
    <div id="app-bar" class="w3-bar w3-black ppa-view-header">
      <router-link to="/">
        <img
          class="w3-left ppa-version"
          src="@/assets/img/app_title.png"
          alt="tortuga"
        />
      </router-link>
      <div class="w3-right">
        <span class="w3-hide-small">
          <app-menu />
        </span>
        <a
          class="
            w3-bar-item
            w3-right
            w3-hide-large
            w3-hide-medium
            w3-button
            w3-text-theme
          "
          v-on:click="toggleMenu"
          aria-label="Menu"
        >
          <font-awesome-icon :icon="['fas', 'bars']" />
        </a>
      </div>
    </div>
    <div
      id="smallMenu"
      class="w3-bar-block w3-theme w3-hide-large w3-hide-medium"
      v-show="menuVisible"
      v-on:click="toggleMenu"
    >
      <app-menu />
    </div>
    <div class="ppa-view-body">
      <router-view />
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faBars } from '@fortawesome/free-solid-svg-icons';
import AppMenu from './AppMenu.vue';

library.add(faBars);

export default {
  components: { AppMenu },
  data() {
    return {
      menuVisible: false,
    };
  },
  methods: {
    toggleMenu() {
      this.menuVisible = !this.menuVisible;
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/css/common.scss";

.ppa-localeBox {
  min-width: 1px;
}
</style>
