<template>
  <span class="w3-theme">
    <router-link
      to="/todos/"
      class="w3-bar-item w3-button w3-mobile"
      active-class="w3-theme-l4"
      >TODO</router-link
    >
    <router-link
      to="/about/"
      class="w3-bar-item w3-button w3-mobile"
      active-class="w3-theme-l4"
      >About</router-link
    >
  </span>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>
